[global_resource_experiment]
hidden:false
displayName:实验型材料
displayColor:#006B0A
priority:1
[global_resource_NEP]
hidden:false
displayName:实验点数
displayColor:#006B0A
priority:1
[global_resource_material]
hidden:false
displayName:原材料
displayColor:#676767
[global_resource_daily_necessities]
hidden:false
displayName:战略资源
displayColor:#FF7600
[global_resource_gameanddaily]
hidden:false
displayName:娱乐商品
displayColor:#FFFF00
[global_resource_armament]
hidden:false
displayName:非法致癌物
displayColor:#045400
[global_resource_semifinished_product]
hidden:false
displayName:可变资本
displayColor:#ffff00
[global_resource_cansemifinished_product]
hidden:false
displayName:不变资本
displayColor:#ff0000
[global_resource_laboracc]
hidden:false
displayName:必要劳动积累
displayColor:#ffff00
[global_resource_comono]
hidden:false
displayName:利率
displayColor:#f0f0f0
[global_resource_regeneration_shield]
hidden:false
displayName:续航盾能量
displayColor:#FF00FF51
[global_resource_waht]
hidden:false
displayName:未知物质
displayColor:#9000FF
[global_resource_gateRestriction1]
hidden:true
[global_resource_gateRestriction2]
hidden:true
[global_resource_gateRestriction3]
hidden:true
[global_resource_gateRestriction4]
hidden:true
[global_resource_gateRestriction5]
hidden:true
[global_resource_gateRestriction6]
hidden:true
[global_resource_gateRestriction7]
hidden:true
[global_resource_gateRestriction8]
hidden:true
[global_resource_gateRestriction9]
hidden:true
[global_resource_gateRestriction10]
hidden:true
[global_resource_gateRestriction11]
hidden:true
[global_resource_gateRestriction12]
hidden:true
[global_resource_inspect1]
hidden:true